body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 22%, rgba(170,45,253,1) 81%);
}

p{
    margin-left: 4.5rem
}

.cards{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
margin-left: 15rem;
margin-bottom: 7rem;
}

.card{
height: 200;
border-radius: 8px;
}